<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- xxx Basics xxx -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>Register page -  Fincch Bank Pay</title>
    <meta name="author" content=" Fincch BankPay">
    <meta name="description" content=" Fincch BankPay">
    <meta name="keywords"
          content="Fincch Bank Pay">

          <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/default.png" />


    <link rel="stylesheet" href="/css/Nhat/main.css" />

  </head>

  <body>

      {{{body}}}



    <script src="./vendor/jquery.min.js"></script>

  <script>
    $(window).on("load", () => {
      $(".loading").fadeOut(200);
    });
  </script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = 'cc071642b06b78bfe760d851bad90007a4f4d498';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
</body>

<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>  </body>
</html>