<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- xxx Basics xxx -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>Register page -  Fincch Bank Pay</title>
    <meta name="author" content=" Fincch BankPay">
    <meta name="description" content=" Fincch BankPay">
    <meta name="keywords"
          content="Fincch Bank Pay">

          <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/default.png" />


    <link rel="stylesheet" href="/css/Nhat/main.css" />

  </head>

  <body>

      {{{body}}}



    <script src="./vendor/jquery.min.js"></script>

  <script>
    $(window).on("load", () => {
      $(".loading").fadeOut(200);
    });
  </script>

<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6842bfcd706334190d798e22/1it2bqeq8';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
</body>

<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>  </body>
</html>
